            body {
                background-color: #efeee7;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: #333333;
                margin: 0;
                padding: 0;
            }
            header {
                background: #333333;
                height: 45px;
            }
            
            h1 {
                color: #eeee;
                font-size: 28px;
                text-align: center;
                margin: 0px;
                padding: 0px;
                border:0px;
            }

            h2 {
                font-size: 24px;
                padding: 0px;
                margin: 0px;
                border: 0px;
                background: purple;
                color: gold;
            }

            .container {
                width: 1024px;
                height: 310px;
                margin: 3px auto 0px auto;
                border-style: double;
            }

            .bio-image {
                float: left;
                padding: 15px;
            }

            .main-bio {
                float: left;
                width: 65%;
                padding: 5px;
            }
            
            .contact-info {
                float: right;
                margin: 25px 255px 0px 0px;
                width: 45%;
                border: dashed;
                border-color: green;
                
            }

            strong {
                color: red;
            }

            img {
                max-width: 250px;
                max-height: 250px;
            }

            a {
                color: #d21034;
            }
            li {
                text-decoration: underline;
            }
